.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto 0;
  width: max-content;
  padding: 10px;
  background-color: #FF9526;
}

.demo-table {
  width: 100%;
  font-family: "Verdana";
  font-weight: bold;
  background: #f88b16;
}

.mat-column-status {
  border-left: 1px solid currentColor;
  padding-left: 6px;
}

.mat-cell {
  width: max-content;
  padding: 5px 20px;
  font-size: 10px;
}

.mat-header-cell {
  width: max-content;
  padding: 5px 20px;
  text-align: start;
  font-size: 16px;
}

span {
  cursor: pointer;
}

.home {
  background-image: url('./../../../assets/icons/home_FILL1_wght400_GRAD0_opsz48.svg');
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2vh;
  right: 2vw;
  padding: 0;
}

.home:hover {
  cursor: pointer;
}

.delete {
  background-image: url('./../../../assets/icons/delete_FILL1_wght400_GRAD0_opsz48.svg');
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 9vh;
  right: 2vw;
}

.delete:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .mat-cell {
    padding: 3px 4px;
    font-size: 4px;
  }

  .mat-header-cell {
    padding: 3px 4px;
    font-size: 8px;
  }

  .home {
    background-size: 20px;
    width: 20px;
    height: 20px;
    top: 2vh;
    right: 2vw;
  }

  .delete {
    background-size: 20px;
    width: 20px;
    height: 20px;
    top: 6vh;
    right: 2vw;
  }

  .demo-table {
    width: 94vw;
    height: max-content;
    margin: 0px;
    font-family: "Verdana";
    font-weight: normal;
    background: #f88b16;
  }

  .container {
    align-items: flex-start;
    padding: 4px;
    margin: 2px;
  }
}